.header {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 25px 7.5px 0px 7.5px;

  .logo-container {
    height: auto;
    width: autox;
  }

  .options {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0px 0px 0px 30px;
      cursor: pointer;
    }
  }
}
